@font-face {
    font-family: 'AirbnbCerealApp-ExtraBold';
    src: url('fonts/AirbnbCerealApp-ExtraBold.eot');
    /* IE9 Compat Modes */
    src: url('fonts/AirbnbCerealApp-ExtraBold.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('fonts/AirbnbCerealApp-ExtraBold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('fonts/AirbnbCerealApp-ExtraBold.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('fonts/AirbnbCerealApp-ExtraBold.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('fonts/AirbnbCerealApp-ExtraBold.svg#svgFontName') format('svg');
    /* Legacy iOS */
    font-weight: 400;
    font-style: normal;
}

font-face {
    font-family: 'AirbnbCerealApp-Bold';
    src: url('fonts/AirbnbCerealApp-Bold.eot');
    /* IE9 Compat Modes */
    src: url('fonts/AirbnbCerealApp-Bold.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('fonts/AirbnbCerealApp-Bold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('fonts/AirbnbCerealApp-Bold.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('fonts/AirbnbCerealApp-Bold.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('fonts/AirbnbCerealApp-Bold.svg#svgFontName') format('svg');
    /* Legacy iOS */
    font-weight: 400;
    font-style: normal;
}


font-face {
    font-family: 'AirbnbCerealApp-Medium';
    src: url('fonts/AirbnbCerealApp-Medium.eot');
    /* IE9 Compat Modes */
    src: url('fonts/AirbnbCerealApp-Medium.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('fonts/AirbnbCerealApp-Medium.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('fonts/AirbnbCerealApp-Medium.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('fonts/AirbnbCerealApp-Medium.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('fonts/AirbnbCerealApp-Medium.svg#svgFontName') format('svg');
    /* Legacy iOS */
    font-weight: 400;
    font-style: normal;
}

font-face {
    font-family: 'AirbnbCerealApp-Book';
    src: url('fonts/AirbnbCerealApp-Book.eot');
    /* IE9 Compat Modes */
    src: url('fonts/AirbnbCerealApp-Book.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('fonts/AirbnbCerealApp-Book.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('fonts/AirbnbCerealApp-Book.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('fonts/AirbnbCerealApp-Book.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('fonts/AirbnbCerealApp-Book.svg#svgFontName') format('svg');
    /* Legacy iOS */
    font-weight: 400;
    font-style: normal;
}

font-face {
    font-family: 'AirbnbCerealApp-Light';
    src: url('fonts/AirbnbCerealApp-Light.eot');
    /* IE9 Compat Modes */
    src: url('fonts/AirbnbCerealApp-Light.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('fonts/AirbnbCerealApp-Light.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('fonts/AirbnbCerealApp-Light.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('fonts/AirbnbCerealApp-Light.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('fonts/AirbnbCerealApp-Light.svg#svgFontName') format('svg');
    /* Legacy iOS */
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'AirbnbCerealApp-Book';
    box-sizing: border-box;

}

.tweedesectie {
    display: flex;
    overflow-x: auto;
    justify-content: space-between;
}

.tweedesectie section {}

.tweedesectie img {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    margin-bottom: -1em;
    min-width: 300px;
    max-width: 300px;
    min-height: 230px;
    max-height: 250px;

}

.tweedesectie figure {
    background-color: white;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.35);
    border-radius: 1em;
    margin: 0.5em;
    min-width: 300px;
    max-width: 300px;
    max-height: 350px;
    margin-bottom: 15px;

}

.tweedesectie figcaption {
    text-align: left;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.7em;
}

.tweedesectie figure p {
    margin-top: -1.2em;
    font-family: "AirbnbCerealApp-Light";
    font-size: 85%;
    color: dimgray;
}

.tweedesectie figure h4 {
    font-size: 100%;

}

.boxderdesectie {
    display: flex;
    flex-direction: column;
    background-color: black;
}

article {
    color: white;
    margin-left: 15px;

}

article h2 {
    font-family: "AirbnbCerealApp-Book";
    font-size: normal;
    margin-bottom: -10px;
}

article p {
    font-family: "AirbnbCerealApp-Light";
    font-size: 85%;
}

.derdesectiefotos {
    display: flex;
    overflow-x: auto;
    justify-content: space-between;
}

.derdesectiefotos section {}

.derdesectiefotos img {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    margin-bottom: -1em;
    min-width: 300px;
    max-width: 300px;
    min-height: 230px;
    max-height: 250px;

}

.derdesectiefotos figure {
    background-color: #2D2D2D;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.35);
    border-radius: 1em;
    margin: 0.5em;
    min-width: 3px;
    max-width: 300px;
    min-height: 350px;
    max-height: 350px;

}

.derdesectiefotos figcaption {
    text-align: left;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.7em;
}



.derdesectiefotos figure h4 {
    font-size: 90%;
    color: white;
    font-family: "AirbnbCerealApp-Book";
    font-weight: normal;
}
